#err404{

    #astro{
        position: fixed;
        right: -20vw;
        bottom: 0;
        width: 60vw;
        height: 60vh;
        overflow: visible;
    }
    #coffee{
        position: absolute;
        right: 30vw;
        bottom: 70vh;
        width: 12vw;
        height: 12vh;
        overflow: visible;
    }

}